.m1{
    text-align:center ;
}
.a1{
background-color:blue;
}
.a2{
    background-color: rgb(245, 245, 5);
}
.a3{
    background-color: fuchsia;
}
.a4{
    background-color: blueviolet;
}
.a5{
    background-color:rgb(3, 154, 249);
}
.a6{
    background:chartreuse;
}
.a7{
    background-color: orangered;
}
.a8{
    background-color: aqua;
}
.a9{
    background-color: orange;
}
.a10{
    background-color:darkgray;
}
.a11{
    background-color: gold;
}